<div class="container">
  <div class="row justify-content-center">
    <% if current_user.id != post.user_id %>

      <% if @pre_approval %>
        <%= link_to post_approval_path(post.id, @pre_approval),
                    method: :delete,
                    :style => 'font-size: 2em;' do %>
          <i class="far fa-thumbs-down"></i>
        <% end %>
      <% else %>
        <%= link_to post_approvals_path(post.id),
                    method: :post,
                    :style => 'font-size: 2em' do %>
          <i class="far fa-thumbs-up"></i>
        <% end %>
      <% end %>

    <% else %>
      <i class="fas fa-pen my-post">
      </i>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= post.approvals.count %>
  </div>
</div>
