<div class="container">
  <div class="row justify-content-center">
    <% if current_user.id != post.user_id %>

      <% if pre_approval %>
        <%= link_to post_approval_url(post.id, pre_approval),
                    method: :delete,
                    class: 'link-approval' do %>
          <i class="fas fa-thumbs-up"></i>
        <% end %>
      <% else %>
        <%= link_to post_approvals_url(post.id),
                    method: :post,
                    class: 'link-approval' do %>
          <i class="far fa-thumbs-up"></i>
        <% end %>
      <% end %>

    <% else %>
      <i class="fas fa-pen my-post">
      </i>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= approvals_count %>
  </div>
</div>
