<div>
  <% pre_like = post.approvals.find { |approval| approval.user_id == current_user.id} %>

  <% if pre_like %>
    <%= button_to 'Unlike', post_approval_path(post.id, pre_like), method: :delete %>
  <% else %>
    <%= button_to 'Like', post_approvals_path(post.id), method: :post %>
  <% end %>

  <%= post.approvals.count %>
</div>
