<div class="container">
  <div class="row justify-content-center">
    <% pre_like = post.approvals.find { |approval| approval.user_id == current_user.id} %>

    <% if pre_like %>
      <%= link_to post_approval_path(post.id, pre_like),
                  method: :delete,
                  :style => 'font-size: 2em;' do %>
        <i class="far fa-thumbs-down"></i>
      <% end %>
    <% else %>
      <%= link_to post_approvals_path(post.id),
                  method: :post,
                  :style => 'font-size: 2em' do %>
        <i class="far fa-thumbs-up"></i>
      <% end %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= post.approvals.count %>
  </div>
</div>
