<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Posts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Membri</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Eventi</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Documenti', message_board_documents_url(@message_board.id), class: 'nav-link' %>
  </li>
</ul>