<li id="comment-<%= comment.id %>">
  <%= comment.description %> (<%= time_ago_in_words(comment.created_at) %> ago) 
  <% if current_user.id == comment.user_id %>
    <%= link_to "delete", comment, method: :delete, data: { confirm: "Vuoi eliminare il commento?" } %>
  <% end %>
</li>