<li class="list-group-item" id="notification-<%= notification.id %>" >
  
  <div class="d-flex flex-row">

    <div class="p-2 notification-column">
      <h6>Nome cognome ha commentato il tuo post</h6>
    </div>  
  </div>

  <div class="d-flex flex-row">
    <p class="text-muted"><%= time_ago_in_words(notification.created_at) %> ago</p>
  </div>

  <div class="d-flex flex-row">
    <div class="p-2 notification-column">   
      <%= button_to "Visualizza", "#", class: "btn btn-success" %>
    </div>
    <div class="p-2 notification-column">   
      <%= button_to "Elimina", "#", 
          data: { confirm: "Vuoi eliminare la notifica?" }, class: "btn btn-danger" %>
    </div>
  </div>
</li>