<div class="card group-form">
  <div class="card-body">
    <h5 class="card-title">Crea un nuovo gruppo</h5>
    <%= form_for [@message_board, @new_group] do |f| %>
      <div class="form-row">
        <div class="col-6">
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <%= f.hidden_field :state, value: "private" %>
        <div class="col-1">
          <%= f.submit "Crea", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>