<div class="row mt-5">
  <div class="col-12 col-md-6 mx-auto" align="center">
      <img class="image-profile" src="https://picsum.photos/200/300/?random"/>
      <hr>
  </div>
  <div class="col-12 col-md-6 mx-auto">
    <div>
      <h5>Email</h5>
      <p class="text-muted"><%= @user.email %></p>
      <h5>Anno di nascita</h5>
      <p class="text-muted"><%= @user.birthday%></p>
      <h5>Indirizzo</h5>
      <p class="text-muted"><%= @user.address%></p>
    </div>
  </div>
</div>
