<% if not @errors.nil? %>
  <div id="error_explanation">
    <hr>
    <p>La form contiene <%= pluralize(@errors.length , "errore", "errori") %>:
      <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </p>
  </div>
<% end %>