<h1>Eventi</h1>

<% if @events.any? %>
  <ul class="events-all">
    <%= render @events %>
  </ul>
  <%#= will_paginate @events, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% else %>
  <div class="row">
    <div class="col-xs-12 col-lg-8 offset-lg-2">
      <div class="card text-center">
        <div class="card-body">
          Non partecipi ancora a nessun evento.
        </div>
      </div>
    </div>
  </div>
<% end %>
