<h1>Insegnamenti</h1>

<ul class="courses">
  <% if @courses.any? %>
    <%= render @courses %>
  <% else %>
    <div class="row">
      <div class="col-xs-12 col-lg-8 offset-lg-2">
        <div class="card text-center">
          <div class="card-body">
            Non hai ancora insegnamenti caricati.
          </div>
        </div>
      </div>
    </div>
  <% end %>
</ul>
