<div class="card new-post">
  <div class="card-body">
    <h5 class="card-title">Pubblica un nuovo post</h5>
    <form action="/create" method="post">
      <div class="form-group">
         <textarea class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>