<ul class="posts">
  <%= render @post %>
</ul>

<div class="new_comment">
  <%= render "/comments/new" %>
</div>

<% if @comments.any? %>
  <div class="card card-comments">
    <div class="card-header text-center">
      Commenti
    </div>
    <div class="card-body">

      <ul class="list-group list-group-flush">
        <%= render @comments %>
      </ul>
    </div>
  </div>

  <%= will_paginate @comments, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>
