// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-comments {
  
  margin-bottom: 16px;

  div.card-body {
    padding: 0rem 0rem;

    .list-group-item {
      padding-top: 20px;
    }

    .user-comment {
      padding-left: 0px !important;
    }
  }
}

.comment-form {
  margin-bottom: 16px;
}