// Place all the styles related to the documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.documents {
  list-style: none;
  padding: 0;

  li:first-child { margin-top: 10px; }
  li { margin-bottom: 10px; }
}