// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-form {
  margin-top: 10px;
  margin-bottom: 30px;
}

.event-details {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.events-all {
  padding-left: 0px;
}