<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="">AcademicLife</a>

  <span class="navbar-text">
    <div class="d-flex justify-content-end">
      <div class="p-2">
        <!-- https://stackoverflow.com/questions/31419317/linking-font-awesome-icon-to-rails-attribute -->
        <%= link_to ('<i class="fas fa-user"></i>').html_safe, user_url(current_user) %>
      </div>
      
      <div class="p-2">
        <%= link_to ('<i class="fas fa-sign-out-alt"></i>').html_safe, sign_out_path, method: :delete %>
      </div>
    
    </div>
  </span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Insegnamenti', user_courses_url(current_user.id), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <!--%= link_to 'Documenti', documents_path, class: 'nav-link' %-->
        Documenti
      </li>
      <li class="nav-item">
        <!--%= link_to 'Gruppi', groups_path, class: 'nav-link' %-->
        Gruppi
      </li>
      <li class="nav-item">
        <!--%= link_to 'Eventi', events_path, class: 'nav-link' %-->
        Eventi
      </li>
    </ul>
  </div>

</nav>