<h1><%= @group.name %></h1>

<% if current_user.id == @creator.user_id %>
  <%= render "new" %>
<% end %>

<ul class="members">
  <%= render @members %>
</ul>

<%= will_paginate @members, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
